{:tasks
 {:requires ([babashka.fs :as fs]
             [clojure.string :as str]
             [clojure.java.shell :as shell])
  :init     (do
              (def shebang "#!/usr/bin/env bb\n")
              (def binary (str (System/getenv "HOME") "/bin/worktimer"))
              (def current-commit-id (->> (shell/sh "git" "rev-parse" "HEAD")
                                       :out
                                       str/trim-newline))
              (defn replace-filename [content]
                (str/replace content "workingtimes-test" "workingtimes"))
              (defn replace-version [content]
                (str/replace content "active-development" current-commit-id))
              (defn write [content] (spit binary content)))

  release   {:doc  "replaces test destination and copies script to bin directory"
             :task (do (->> "src/worktime/core.clj"
                         slurp
                         replace-filename
                         replace-version
                         (str shebang)
                         write)
                       (shell (str "chmod +x " binary)))}
  }
 }
