{:deps    {org.clojure/clojure   {:mvn/version "1.10.3"}
           org.clojure/tools.cli {:mvn/version "1.0.206"}
           tubular               {:mvn/version "1.4.0"}
           clojure.java-time     {:mvn/version "0.3.2"}}
 :aliases {:uberjar
           {:replace-deps
                       {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
            :exec-fn   hf.depstar/uberjar
            :exec-args {:jar        jayfu.jar
                        :main-class jayfu.main
                        :aot        true}}}}